[Unit]
Description=OxiDNS Server

[Service]
ExecStart=/usr/bin/oxidns start -c /etc/oxidns/config.yaml -d /var/lib/oxidns
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
